<a class="property" href="{{ item.url }}">
  <div class="property-media"><img src="{{ item.data.image }}" alt="{{ item.data.title }}"><div class="property-tags"><span class="badge {{ 'green' if item.data.status == 'Satılık' else 'red' }}">{{ item.data.status }}</span>{% if item.data.featured %}<span class="badge dark">Yeni</span>{% endif %}</div><span class="favorite">♡</span></div>
  <div class="property-body"><div class="location">{{ item.data.location }}</div><h3>{{ item.data.title }}</h3><div class="meta">{% for feature in item.data.features %}<span>{{ feature }}</span>{% endfor %}</div><div class="price">{{ item.data.price }}</div></div>
</a>
