---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for item in collections.all %}{% if item.url and item.url != '/admin/' and item.url != '/sitemap.xml' and item.url != '/robots.txt' %}  <url><loc>{{ site.url }}{{ item.url }}</loc><lastmod>{{ item.date | isoDate }}</lastmod>{% if item.url == '/' %}<changefreq>weekly</changefreq><priority>1.0</priority>{% elif '/ilanlar/' in item.url %}<changefreq>weekly</changefreq><priority>0.8</priority>{% elif '/blog/' in item.url %}<changefreq>monthly</changefreq><priority>0.7</priority>{% else %}<changefreq>monthly</changefreq><priority>0.6</priority>{% endif %}</url>
{% endif %}{% endfor %}</urlset>
